<div id="header">
    <div class="container">
        <a href="{% url "index" %}" class="logo">Guinness Nigeria</a>
        <ul>
            <li class="nav_about">
                <a href="{% url "about_overview" %}">About Us</a>
                <ul>
                    <li><a href="{% url "about_overview" %}">Overview</a></li>
                    <li><a href="{% url "about_our_values" %}">Our Values</a></li>
                    {% comment %}<li><a href="{% url "about_our_strategy" %}">Our Strategy</a></li>{% endcomment %}
                    <li><a href="{% url "about_management" %}">Management</a></li>
                    <li><a href="{% url "about_board_of_directors" %}">Board of Directors</a></li>
                    <li><a href="{% url "about_executives" %}">Executives</a></li>
                    <li><a href="{% url "about_history_moments" %}">History Moments</a></li>
                    <li><a href="{% url "about_awards" %}">Awards</a></li>
                    {% comment %}<li><a href="{% url "about_faqs" %}">FAQs</a></li>{% endcomment %}
                    <li><a href="{% url "about_country_information" %}">Country Information</a></li>
                    <li><a href="{% url "about_responsible_drinking" %}">Responsible Drinking</a></li>
                    <li><a href="{% url "about_compliance_and_ethics" %}">Compliance and Ethics</a></li>
                    <li><a href="{% url "about_safety_and_quality" %}">Safety and Quality</a></li>
                </ul>
            </li>
            <li class="nav_brands">
                <a href="{% url "brand_list" 'all' %}">Brands</a>
                <ul>
                    <li><a href="{% url "brand_list" 'all' %}">All</a></li>
                    {% comment %}<li><a href="{% url "brand_list" 'our-local-brands' %}">Our Local Brands</a></li>{% endcomment %}
                    {% comment %}<li><a href="{% url "brand_list" 'our-global-brands' %}">Our Global Brands</a></li>{% endcomment %}
                    <li><a href="{% url "brand_list" 'spirits' %}">Spirits</a></li>
                    <li><a href="{% url "brand_list" 'beers' %}">Beers</a></li>
                    <li><a href="{% url "brand_list" 'ready-to-drink' %}">Ready-To-Drink</a></li>
                    <li><a href="{% url "brand_list" 'non-alcoholic' %}">Non-Alcoholic</a></li>
                    <li><a href="{% url "brand_list" 'know-your-drink' %}">Know Your Drink</a></li>
                    <li><a href="{% url "brand_list" 'how-we-make-our-brands' %}">How We Make Our Brands</a></li>
                </ul>
            </li>
            <li class="nav_inv">
                <a href="{% url "investors_overview" %}">Investors</a>
                <ul>
                    <li><a href="{% url "investors_overview" %}">Overview</a></li>
                    <li><a href="{% url "investors_corporate_governance" %}">Corporate Governance</a></li>
                    <li><a href="{% url "investors_shareholders_services" %}">Shareholders Services</a></li>
                    <li><a href="{% url "investors_financial_reports" %}">Annual Reports</a></li>
                    <li><a href="{% url "investors_financial_results" %}">Financial Results</a></li>
                    {% comment %}<li><a href="{% url "investors_share_summary" %}">Diageo Offer</a></li>{% endcomment %}
                    {% comment %}<li><a href="{% url "investors_marketing_our_brands" %}">Marketing Our Brands</a></li>{% endcomment %}
                    {% comment %}<li><a href="{% url "investors_investor_contacts" %}">Investor Contacts</a></li>{% endcomment %}
                </ul>
            </li>
            <li class="nav_news">
                {% comment %}<a href="{% url "news_and_media_news"  %}">News &amp; Media</a>{% endcomment %}
                <a href="{% url "news_and_media_press_releases"  %}">News &amp; Media</a>
                <ul>
                    {% comment %}<li><a href="{% url "news_and_media_overview" %}">Overview</a></li>{% endcomment %}
                    {% comment %}<li><a href="{% url "news_and_media_news" %}">Overview</a></li>{% endcomment %}
                    <li><a href="{% url "news_and_media_press_releases" %}">Press Releases</a></li>
                    {% comment %}<li><a href="{% url "news_and_media_media_enquiries" %}">Media Enquires</a></li>{% endcomment %}
                    <li><a href="{% url "news_and_media_publications" %}">Guinness Magazine</a></li>
                    <li><a href="{% url "news_and_media_media_contact" %}">Media Contact</a></li>
                </ul>
            </li>
            <li class="nav_car">
                <a href="{% url "careers_why_guinness_nigeria" %}">Careers</a>
                <ul>
                    <li><a href="{% url "careers_why_guinness_nigeria" %}">Why Guinness Nigeria</a></li>
                    <li><a href="{% url "careers_working_with_guinness_nigeria" %}">Working with Guinness Nigeria</a></li>
                    <li><a href="{% url "careers_how_to_apply" %}">How to Apply</a></li>
                    {% comment %}<li><a href="{% url "careers_vacancies" %}">Vacancies</a></li>{% endcomment %}
                </ul>
            </li>
            <li class="nav_resp">
                <a href="{% url "gn_foundation_overview" %}">GN Foundation</a><!-- Menu Responsibility change to Sustainability changed to GN Foundation -->
                <ul>
                    <li><a href="{% url "gn_foundation_overview" %}">Overview</a></li>
                    <li><a href="{% url "gn_foundation_education" %}">Education</a></li>
                    <li><a href="{% url "gn_foundation_health" %}">Health</a></li>
                    <li><a href="{% url "gn_foundation_skills_for_life" %}">Skills for Life</a></li>
                    <li><a href="{% url "gn_foundation_sports" %}">Sports</a></li>
                    <li><a href="{% url "gn_foundation_water_of_life" %}">Water of Life</a></li>
                    <li><a href="{% url "gn_foundation_programmes_and_initiatives" %}">Programmes &amp; Initiatives</a></li>
                </ul>
            </li>
            <li class="nav_search">
                <a href="javascript: void(0);"></a>
                <div class="search_pop">
                    <script>
                      (function() {
                        var cx = '014687971623939817922:0jecgrmvghe';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
            </li>
        </ul>
    </div>
</div><!--/Header-->
