{% extends 'flatpages/about.html' %}
{% load unobase_tags %}

{% block before_tagify %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': '404',
            'is404': 'true',
            'pagePath':'/404'+window.location.pathname
        });
    </script>
{% endblock %}

{% block sub_page_content %}
  <div class="content">
    <div class="banner">
      <h1>Page Not Found</h1>
    </div>
    <div class="title">
      <h2>Page Not Found</h2>
    </div>
    <div class="body">
      <div class="listing">
        Unfortunately we could not find the page you are looking for.
        <br /><br />
        Please <a href="/contact-us/">click here</a> to contact us.
      </div>
    </div>
  </div>
{% endblock %}
